APP_NAME="Gracious Charity Platform"
APP_URL="http://localhost/donation-page"
ADMIN_PATH="/donation-page/admin"
APP_TIMEZONE="Africa/Lagos"
SESSION_NAME="gracious_admin_session"

DB_DRIVER="mysql"
DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_DATABASE="donation_page"
DB_USERNAME="root"
DB_PASSWORD=""
DB_CHARSET="utf8mb4"

DEFAULT_ADMIN_NAME="Super Admin"
DEFAULT_ADMIN_EMAIL="admin@graciouscharity.org"
DEFAULT_ADMIN_PASSWORD="ChangeMe123!"
